@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
html, body {
	background-color: white !important;
	color: #767270 !important;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.625;
	color: #5b5b5b;
	-webkit-font-smoothing: antialiased;
}
.addMenuPadding{
	padding-right:250px;
}
.body-wrap{
	position: relative;
}
.burger{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
}
.kml-menu {
	display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
	 background-color: white;
	padding-top: 30px;
	width: 250px;
	height: 100%;
	text-transform: uppercase;
	box-shadow: -2px 0px 10px 1px #363636;
}
ul.kml-nav{
	list-style-type: none;
	 padding-left:0;
}
ul.kml-nav li{
	padding: 10px 0;
	border-bottom: 1px solid #c6c6c6;
}
.kml-nav a {
    color: gray;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 200;
	 margin-left: 20px;
	 text-decoration: none;
}
.kml-nav a:hover {
    font-weight: 400;
	 text-decoration: none;
}
i.fa.fa-bars.fa-3 {
    font-size: 35px;
    color: white;
}
i.fa.fa-bars.fa-3:hover {
	color: #337ab7;
}
.menu-label{
	float:right;
	font-family: 'Open Sans';
	    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 10px;
    line-height: 1.2em;

}
.burger:hover{
	color: #337ab7;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
}
.navbar .navbar-collapse {
	text-align: center;
}
.page-center {
	max-width: 925px;
	margin: 0 auto !important;
}
.banner-background {
	width: 100%;
	height: 100%;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.black-cover {
	background: rgba(0, 0, 0, .6);
	color: #fff;
	height: 100%;
}
.img-wrap {
	position: relative;
	float: left;
	clear: none;
	overflow: hidden;
	background-color: black;
}
.img-wrap img {
	position: relative;
	z-index: 1;
	opacity: 0.4;
}
.img-wrap .desc {
	display: block;
	position: absolute;
	width: 100%;
	top: 40%;
	left: 0;
	z-index: 3;
	text-align: center;
}
.banner-title {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 125px;
	color: white;
	letter-spacing: 3px;
}
.title {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #5b5b5b;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.content {
	clear: both;
	width: 100%;
	height: auto;
}
.logo {
	text-align: center;
	padding-top: 130px;
}
.welcome-container {
	padding: 60px 0;
	text-align: center;
	background-color: #f2f2f2;
	width: 100%;
}
.welcome-text {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 65px;
	color: #5b5b5b;
	letter-spacing: 3px;
}
.about {
	padding: 45px 0;
}
.about .title {
	margin-bottom: 70px;
}
.title-subtext {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 1.625;
	color: #5b5b5b;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.625;
	color: #5b5b5b;
   font-weight: 200;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
.academy-badge img {
	max-width: 250px;
	text-align: center;
}
.recent-projects {
	padding-top: 45px;
	width: 100%;
	text-align: center;
	padding-bottom: 70px;
}
.recent-projects img {
	max-width: 175px;
	margin: 15px 15px 15px 15px;
}
.recent-projects .title {
	margin-bottom: 70px;
}
img.grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	/* For Webkit browsers */
	filter: gray;
	/* For IE 6 - 9 */
	-webkit-transition: all .6s ease;
	/* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
}
img.grayscale:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.footer {
	height: 100px;
	width: 100%;
	background-color: #868686;
	text-align: center;
}
.footer-logo img {
	width: 100px;
}
@media screen and (max-width: 625px) {
	.welcome-text {
		font-size: 45px;
	}
}
@media screen and (max-width: 480px) {
	.welcome-container {
		padding-top: 70px;
		padding-bottom: 45px;
	}
	.welcome-text {
		font-size: 30px;
	}
	.title {
		font-size: 24px;
	}
	.title-subtext {
		font-size: 20px;
	}
	.info {
		font-size: 15px;
	}
	.page-center {
		padding-left: 10px;
		padding-right: 10px;
	}
	.banner-title {
		font-size: 44px;
	}
	.menu-label{
		font-size: 17px;
	}
	i.fa.fa-bars.fa-3 {
    font-size: 22px;
	}
}
